body{
  background-color: hsl(0, 0%, 10%);
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125, 47%, 54%);
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-btn{ 
  background-color: hsl(0, 88%, 48%);
}
.delete-btn:hover{
  background-color: hsl(0, 88%, 38%);
  
}
.move-up-btn{
  background-color: hsl(207, 90%, 64%);
}
.move-up-btn{
  background-color: hsl(207, 90%, 54%);
}
.move-down-btn{
  background-color: hsl(207, 90%, 64%);
}
.move-down-btn{
  background-color: hsl(207, 90%, 54%);
}
input[type="text"]{
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid hwb(0 0% 80%);
  border-radius: 5px ;
  color: #000000;
  margin-right: 1rem;

}
ol{
  padding: 0;

}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  border: 2px,solid hsl(0, 0%, 0%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin : 1rem;
  
}
.text{
  flex: 1;

}
.delete-btn, .move-down-btn, .move-up-btn{
  padding: 4px, 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}